{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" data-tracks="{{ tracks|json_encode|e('html_attr') }}">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
