{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/css/paginator.css') }}"/>
{% endblock %}

{% block body %}
    <div id="main" data-filter-values="{{ filter_values|json_encode|e('html_attr') }}"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
